<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher or Lower</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/static/images/pl_logo_otto.svg" alt="Logo" class="logo">
            <h1>Higher or Lower</h1>
        </div>
    </header>

    <main>
        <div class="product-container">
            <div class="product-box" id="product1">
                <div class="img-wrap">
                    <img src={{productLast_high_q_img}} alt="Produkt 1">
                </div>
                <div class="meta" id="product1">
                    <h2>{{productLast_brand}}</h2>
                    <h3>{{productLast_name}}</h3>
                    <p>Preis: {{productLast_price}} €</p>
                    <p>lieferbar - in 2-3 Werktagen bei dir</p>
                    <p>Placeholder Otto Up</p>
                </div>
            </div>

            <div class="arrow-container">
                <div class="arrow" id="arrow"> > </div>
                <div class="question-mark" id="questionMark"> ? </div>
            </div>

            <div class="product-box" id="product2">
                <div class="img-wrap">
                    <img src="{{productNext_high_q_img}}" alt="Produkt 2">
                </div>
                <div class="meta">
                    <h2>{{productNext_brand}}</h2>
                    <h3>{{productNext_name}}</h3>
                    <p>Preis: {{productNext_price}} €</p>
                    <p>lieferbar - in 2-3 Werktagen bei dir</p>
                    <p>Placeholder Otto Up</p>
                </div>
            </div>
        </div>
    </main>

    <script src="/static/js/script.js"></script>
</body>
</html>