<!DOCTYPE html>
<html lang="de" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920px, initial-scale=1.0">
    <title>Higher or Lower</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/stats_style.css">
    <script src="/static/js/theme_toggle.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
<header>
        <button class ="logo-button" onclick="location.href='https://otto.de'">
            <img src="/static/images/pl_logo_otto.svg" alt="Logo" class="logo">
        </button>
        <h1 onclick="location.href='/'">Higher or Lower</h1>
    
    </header>

    <main>
        <div class="stat-page-container">
            <div class="stat-container">
            
            </div>
        </div>
        
    </main>

    <footer>
        <button onclick=toggleTheme() class="footer-button">
            <img class="mode-img" src="/static/images/light-mode.png"/>
        </button>
        <button onclick="location.href='/'" class="footer-button-left">
            <img class="mode-img" src="/static/images/left.png"/>
        </button>
    </footer>
    <script src="/static/js/stats.js"></script>

</body>
</html>