categories:
  - multimedia
  - hello kitty
  - moebel
  - haushalt
  - bekleidung
  - sport
  - gartengeraete
  - kostueme
  - kleidung
  - haustier kostueme
  - haustier accessoires
  - geraet
  - bau
  - beauty
  - kind
  - utensilien
  - pc accessoires
  - zuege
  - textilien
  - kueche
  - schatten
  - spielzeug
  - tier
  - roboter
  - kakao
  - technik
  - kuechengeraete
  - quadrat
  - Parfum
  - Lebensmittel
  - Bierbauch
  - Sex
  - Schuhe
  - Fußpilz
  - Trinkspiel
  - LEGO Star Wars
  - Scheiße
  - Heimwerker
  - Fortnite

# relative to article-element
paths:
    brand: .//div[contains(@class, 'reptile-card')]//span[contains(@class, 'reptile-product-brand')]
    name: .//div[contains(@class, 'reptile-card')]//span[contains(@class, 'reptile-product-title')]
    link: .//div[contains(@class, 'reptile-card')]//a
    price: .//div[contains(@class, 'reptile-card')]//div[contains(@class, 'purchase-info')]//ofc-pricing-item-v1
    img: .//div[contains(@class, 'reptile-card')]//div[contains(@class, 'reptile-product-image')]//img
db:
    link: mongodb+srv://<User>:<Password>@higherlower.ojazzfb.mongodb.net/?appName=HigherLower


