[data-theme="light"]{
    --otto-red: #eb001f;
    --center-container: #ffffff;
    --text: #000000;
    --table-element: #eaeaea;
    --background: #e6e6e6;

    --button: #eb001f;
    --button-hover: #dc001d;

    --username: #eaeaea;
    --username-hover: #fff;
        
    --inversion: invert(.1)
}

[data-theme="dark"] {
    --otto-red: #eb001f;
    --center-container: rgb(38, 39, 43);
    --text: #ddd9d9;
    --table-element: #363636;
    --background: #1d1d23;

    --button: #c4152c;
    --button-hover: #d52f45;

    --username: #464646;
    --username-text: #a4a4a4;
    --username-hover: #a4a4a4;
    --username-hover-text: #464646;

    --inversion: invert(.9)
}


html {
    overflow: hidden;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

body {
    background-color: var(--background);
}

@media only screen and (max-width: 600px) {
  header {
    padding-right: 40px;
  }
}

.index-main {
    background-color: var(--background);
    transition: 300ms ease-in-out;
}

.index-body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    background-color: var(--background);
    transition: 300ms ease-in-out;
}

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--center-container);
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px  6px rgba(0, 0, 0, 0.055);
    color: var(--text);
    transition: 200ms ease-in-out;
}

.streak-container {
    margin: 50px;
}

.streak-text {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    color: #dc001d;
}

.start-game-button {
    padding:0.8rem 3rem ;
    margin-top:2vh;
    font-size: 1.2em;
    font-weight: 700;
    background-color: var(--button);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 300ms ease-in-out;
    min-width: 250px;
    max-width: 500px;
    
}

.start-game-button:hover {
    background-color: var(--button-hover);
}

.start-game-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-input {
    padding: 15px 30px;
    font-size: 1em;
    background: url("/static/images/edit.svg") no-repeat scroll 97% 12px;
    background-color: var(--username);
    color: var(--username-text);
    border: none;
    border-radius: 100px;
    margin: 15px;
    width: 35vw;
    min-width:fit-content;
    max-width: 600px;
    transition: 200ms ease-in-out;
    
}

.username-input:focus {
    outline: 2px solid #000000;
    background-color: var(--username-hover);
    color: #464646;
}


.leaderboard-element{
    display:flex;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 1vh;
    background-color: var(--table-element);
    border-radius: 10px;
    width: 25vw;
    min-width: 200px;
    max-width: 600px;
    transition: 200ms ease-in-out;
}

.leaderboard-element-player{
    display:flex;
    justify-content: space-between;
    padding: 5px 20px;
    margin-inline: 1vh;
    margin-top: 30px;
    background-color: var(--table-element);
    border-radius: 10px;
    width: 25vw;
    min-width: 200px;
    max-width: 600px;
    transition: 200ms ease-in-out;
}

.leaderboard-element span{
    font-weight: 500;
    margin: 5px;
}

.leaderboard-element .leaderboard-place {
    min-width: 30px; 
    display: inline-block;
    text-align: center;
}

.leaderboard-element-player .leaderboard-place {
    min-width: 30px; 
    display: inline-block;
    text-align: center;
}

.leaderboard-element-player span{
    font-weight: 500;
    margin: 5px;
}

.leaderboard-element .leaderboard-score {
    font-weight: 700;
    color: var(--otto-red);
    min-width: 30px; 
    display: inline-block;
    text-align: center;
}

.leaderboard-element-player .leaderboard-score {
    font-weight: 700;
    color: var(--otto-red);
    min-width: 30px; 
    display: inline-block;
    text-align: center;
}

.index-container > * {
    margin-right: 50px;
    margin-left: 50px;
}

.difficulty-bar {
    display: flex;
    margin: 0;
    margin-top: -10px;
    width: 100%;
}

.difficulty {
    box-sizing: border-box;
    flex: 1;
    text-align: center;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.difficulty input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.label-text {
    display: block;
    padding: 15px;
    background-color: #d1cfcf;
    color: black;
    border-radius: 10px 10px 0 0;
    box-shadow: inset 0px -8px 6px -6px rgba(0, 0, 0, 0.29);
}

[class*="difficulty normal"] .label-text {
  background-color: rgb(236, 214, 100);
}

[class*="difficulty hard"] .label-text { 
  background-color: rgb(236, 156, 100);
}

[class*="difficulty extrem"] .label-text {
  background-color: rgb(236, 110, 100);
  
}

/* Aktiver Zustand (einfacher, kein Animationseffekt) */
.difficulty input:checked + .label-text {
    background-color: var(--center-container);
    color: var(--text);
    box-shadow: inset 0px 0px 0px -0px black;
    transition: 200ms ease-in-out;
}

.difficulty:has(input:checked) + .difficulty .label-text {
    border-bottom-left-radius: 10px;
    box-shadow: inset 8px -8px 6px -6px rgba(0, 0, 0, 0.29);
    transition: none;
}

.difficulty:has(+ .difficulty input:checked) .label-text {
    border-bottom-right-radius: 10px;
    box-shadow: inset -8px -8px 6px -6px rgba(80, 80, 80, 0.29);
}

.hidden {
    display: none;
}

footer {
    transition: 200ms;
    background-color: var(--background);
}

.footer-button {
    position: fixed;
    background-color: var(--center-container);
    border: none;
    bottom: 3vh;
    right: 3vh;
   width: 50px;
    height: 50px;
    border-radius: 10px;
    display: block;
    z-index: 99999;
    transition: 200ms ease-in-out;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.046)
}

.footer-button:hover{
    scale: 1.05;
}
.footer-button:active{
    scale: 1;
}

.footer-button:active .mode-img{
    scale: .5;
    rotate: 60deg;
}

.mode-img {
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    margin-left: 1px;
    width: 25px;
    height:25px;
    transition: 500ms;
    filter: var(--inversion)
}